@font-face {
  font-family: "fontello";
  src: url("/access/fonts/font/fontello.eot");
  src: url("/access/fonts/font/font/fontello.eot") format("embedded-opentype"), url("/access/fonts/font/fontello.woff2") format("woff2"), url("/access/fonts/font/fontello.woff") format("woff"), url("/access/fonts/font/fontello.ttf") format("truetype"), url("/access/fonts/font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: fontello, serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.icon.icon_arrow-down {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  background-image: url("/access/arrow-down.svg");
}
.icon.icon_tick:before {
  content: "\e800";
}
.icon.icon_close:before {
  content: "\e805";
}
.icon.icon_edit:before {
  content: "\e808";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

input,
optgroup,
select,
textarea {
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  outline: none;
  min-height: 35px;
  border: 1px solid #c4c7c8;
  padding: 0 15px;
  border-radius: 5px;
}
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  border-color: #1991e6;
}

button,
input {
  /* 1 */
  overflow: visible;
}

input[type=file] {
  padding: 15px;
  width: 100%;
  min-height: 200px;
  margin: 10px 0;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
@media (min-width: 757px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 979px) {
  .container {
    max-width: 900px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1156px;
  }
}

.buttons_wrapper {
  display: flex;
}
.buttons_wrapper .btn:not(:only-child) {
  margin-right: 10px;
}
.buttons_wrapper .btn:not(:only-child):last-child {
  margin-right: 0;
}

.btn {
  display: block;
  color: #ffffff;
  background-color: #803080;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  padding: 10px 15px;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #60A4A7;
  color: #ffffff;
}
.btn:hover a {
  color: #ffffff;
}
.btn a {
  color: #ffffff;
}
.btn.icon_close {
  margin-left: auto;
}

.input_group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input_group.validate_error input {
  border-color: #e35c5c;
}
.input_group .input_title {
  margin-bottom: 5px;
}
.input_group .error {
  color: #e35c5c;
}

.scheduled_items .date-time-picker .days .day_row label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.scheduled_items .date-time-picker .days .day_row label input {
  margin-right: 10px;
}
.scheduled_items .date-time-picker .days .day_row .hours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.scheduled_items .date-time-picker .days .day_row + .day_row {
  margin-top: 10px;
}

.page-registration .company_scheduled .scheduled_items {
  border: 1px solid #c4c7c8;
}
.page-registration .company_scheduled .scheduled_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #c4c7c8;
}
.page-registration .company_scheduled .scheduled_item .day {
  padding: 15px;
}
.page-registration .company_scheduled .scheduled_item .hours {
  border-left: 1px solid #c4c7c8;
  padding: 15px;
}
.page-registration .company_scheduled .scheduled_item:last-child {
  border-bottom: initial;
}

.dropDown_group {
  margin: 10px 0;
}
.dropDown_group .title {
  margin-bottom: 5px;
}

.dropDown {
  position: relative;
}
.dropDown select {
  display: none;
}
.dropDown.open .dropDown_toggle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropDown.open .dropDown_options {
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropDown .dropDown_toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 40px;
  padding: 7px;
  color: #000000;
  background: #ffffff;
  transition: border-color ease-in-out 0.15s;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #c4c7c8;
}
.dropDown .dropDown_options {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 100px;
  overflow: auto;
  background: #ffffff;
  cursor: pointer;
  scrollbar-color: #8e8e8e transparent;
  scrollbar-width: thin;
  border: 1px solid #c4c7c8;
}
.dropDown .dropDown_options .dropDown_option {
  padding: 7px;
  cursor: pointer;
  border-bottom: 1px solid #ededed;
  transition: all 0.5s;
}
.dropDown .dropDown_options .dropDown_option:last-child {
  border-bottom: none;
}
.dropDown .dropDown_options .dropDown_option:hover {
  background-color: #ededed;
}

.timeRange {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px 0;
}
.timeRange .timeRange_item > span {
  display: block;
  margin-bottom: 10px;
}

.step_items {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 757px) {
  .step_items {
    position: relative;
    flex-direction: row;
    border-radius: 10px;
    margin: 15px 0 30px;
    justify-content: space-between;
  }
  .step_items:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 25%;
    height: 4px;
    background: #c4c7c8;
  }
}
.step_items .step_item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 757px) {
  .step_items .step_item {
    flex-direction: column;
    flex: 1;
  }
}
.step_items .step_item .step_number {
  height: 30px;
  width: 30px;
  line-height: 27px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #c4c7c8;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.step_items .step_item .step_number:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 3px;
  background-color: #c4c7c8;
  left: 50%;
  transform: translateX(-50%);
  bottom: -22px;
}
@media (min-width: 757px) {
  .step_items .step_item .step_number:after {
    content: inherit;
  }
}
.step_items .step_item .step_desc {
  margin-left: 20px;
}
@media (min-width: 979px) {
  .step_items .step_item .step_desc {
    margin: 10px 0 0;
  }
}
.step_items .step_item:last-child .step_number::after {
  content: none;
}
@media (min-width: 757px) {
  .step_items .step_item.done:after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #1991e6;
    width: 100%;
    top: 25%;
    left: 50%;
    z-index: 1;
  }
}
.step_items .step_item.done .step_number {
  border-color: #1991e6;
  font-size: 0;
}
.step_items .step_item.done .step_number:after {
  background-color: #1991e6;
}
.step_items .step_item.done .step_number:before {
  content: "\e800";
  font-family: fontello, serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #1991e6;
}
.step_items .step_item.active .step_number {
  border-color: #fb4444;
}
.step_items .step_item + .step_item {
  margin-top: 15px;
}
@media (min-width: 757px) {
  .step_items .step_item + .step_item {
    margin: 0;
  }
}

.registration_title {
  text-align: center;
}

.employee_items .employee_item {
  display: flex;
  align-items: center;
}
.employee_items .employee_item .employee_name {
  margin-right: 10px;
}
