.__authenticated {
    display: flex;
    flex-direction: column;

    @include laptop{
        .header{
            background-color: #2f3353;
            position: relative;
            color: $white_color;
            font-weight: 600;
            &.container{
                margin: 0 auto;
            }
            @include laptop{
                padding: 20px 20px 20px 0;
                font-size: 20px;
            }
            &:before{
                content: '';
                width: 100vw;
                left: 50%;
                margin-left: -50vw;
                position: absolute;
                height: 100%;
                background-color: #2f3353;
                z-index: -1;
                top: 0;
            }

        }
    }
}
