.employees{
    @include tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin: 40px 0;
    }
    .employee{
        background-color: $secondary_color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        align-content: space-between;
        .employee__name{
            color: $headline_text_color;
        }
        .employee__photo{
            max-width: 150px;
            margin-bottom: 20px;
        }
    }
}

