.employees{
    @include tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin: 40px 0;
    }
    .employee{
        background-color: $secondary_color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        align-content: space-between;
        .employee__name{
            color: $headline_text_color;
        }
        .employee__photo{
            max-width: 150px;
            margin-bottom: 20px;
        }
        .wrapper{
            margin-top: 5px;
            display: flex;
            align-items: center;
            i{
                margin-right: 5px;
            }
        }
        .buttons_wrapper{
            width: 100%;
            justify-content: end;
            margin-top: 20px;
            .btn{
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

