.input_group{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    &.checkbox {
        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            cursor: pointer;
            position: relative;
            @include transition;

            &:before {
                content: "";
                background-color: $white_color;
                text-align: center;
                min-width: 18px;
                min-height: 18px;
                font-size: 1.4px;
                transition: border .15s, background-color .15s;
                position: relative;
                display: block;
                margin-right: 10px;
                border: 1px solid $border_color;
                @include transition;
            }

            &:hover{
                color: $link_color_hover;
                &:before{
                    border-color: $link_color_hover;
                }
            }
            .input_title{
                margin: 0;
            }
        }
        input {
            display: none;


            &:checked + label {
                &::before {
                    background: $primary_color;
                    border: 1px solid $primary_color;
                    color: #fff;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 7px;
                    top: calc(50% - 1px);
                    width: 5px;
                    height: 10px;
                    border: solid $white_color;
                    border-width: 0 2px 2px 0;
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
    }

        &.validate_error{
        input{
            border-color: $danger_color;
        }
    }
    .input_icon{
        position: relative;
        i{
            display: block;
            position: absolute;
            top: calc(50% + 2px);
            left: 10px;
            transform: translateY(-50%);
            &:before{
                color: $gray_color;
            }
        }
        input{
            padding-left: 35px;
            width: 100%;
        }
    }
    .input_title{
        margin-bottom: 5px;
    }
    .error{
        color: $danger_color;
    }
    input{
        background-color: $secondary_color;
        color: $white_color;
        border: none;
        &:focus{
            border: 1px solid $white_color;
        }
    }
}


