.navigation {
    background-color: $primary_color;
    display: flex;
    align-items: center;
    @include laptop{
        border-right: 1px solid $border_color;
    }
    .container {
        justify-content: space-between;
        margin: 0 auto;
        .navigation__links {
            display: flex;
            .navigation__link {
                padding: 15px;
                color: $white_color;
                @include transition;

                &._active, &:hover {
                    background-color: $secondary_color;
                    color: $link_color;
                }
            }
        }
        .userInfo {
            padding-right: 2rem;

            .avatar {
                display: flex;
                align-items: center;
                align-content: center;
                padding: 10px;
                @include transition;
                cursor: pointer;

                &:hover {
                    background-color: $secondary_color;
                    color: $link_color;
                }

                svg {
                    max-width: 30px;
                    max-height: 30px;
                }

                .userName {
                    margin-left: 10px;
                    color: $white_color;
                    font-size: 14px;
                }

                .icon_arrow-downSecond {
                    margin-left: 5px;
                    color: $white_color;
                    font-size: 10px;
                }
            }
        }
    }

}
