@mixin center{
    display: flex;
    align-content: center;
    align-items: center;
}

.pagination{
    @include center;
    justify-content: space-between;
    .pagination__results{
        @include center;
        color: $headline_text_color;
    }
    .pagination_navigation{
        @include center;
        .pagination__links{
            @include center;

            .active{
                background-color: $button_color_hover;
            }
        }
        .ellipsis{
            display: flex;
            align-items: center;
            padding: 15px;
        }

        .btn{
            margin: 0;
            background-color: $primary_color;
            color: $text_color;
            padding: 15px;
            &:hover, &.active{
                background-color: $background_color;
            }
            &.dots, &.inactive{
                background-color: #8e8e8e8c;
            }
            i{
                font-size: 15px;
            }
        }
    }
}
