@font-face {
    font-family: 'fontello';
    src: url('/access/fonts/font/fontello.eot');
    src: url('/access/fonts/font/font/fontello.eot') format('embedded-opentype'),
    url('/access/fonts/font/fontello.woff2') format('woff2'),
    url('/access/fonts/font/fontello.woff') format('woff'),
    url('/access/fonts/font/fontello.ttf') format('truetype'),
    url('/access/fonts/font/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


.icon{
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: fontello, serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    &.icon_arrow-down{
        margin-left: 5px;
        height: 15px;
        width: 15px;
        background-image: url("/access/arrow-down.svg");
    }
    &.icon_tick{
        &:before{
            content: '\E800';
        }
    }
    &.icon_close{
        &:before{
            content: '\E805';
        }
    }
    &.icon_edit{
        &:before{
            content: '\E808';
        }
    }
    &.icon_plus{
        &:before{
            content: '\E809';
        }
    }
    &.icon_right{
        &:before{
            content: '\F105';
        }
    }

    &.icon_left{
        &:before{
            content: '\F104';
        }
    }
}

