$primary_color: #1991e6;
$secondary_color: #fb4444;

$success_color: #33b71f;
$warning_color: #f89406;
$danger_color: #950000;
$background_success: #ebffe7;
$background_error: #e35c5c3d;

$text_color: #000000;
$link_color: #000000;
$link_color_hover: #1991e6;
$border_color: #c4c7c8;
$background_color:#ffffff;
$gray_color: #8e8e8e;
$white_color: #ffffff;
$gray_light_color: #ededed;

$button_color: #803080;
$button_color_hover: #60A4A7;
$button_text_color: #ffffff;
$button_text_color_hover: #ffffff;


$box_shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
$border_radius: 0;

$font-family: 'Montserrat', sans-serif;

