$primary_color: #1991e6;
$secondary_color: #fb4444;
$success_color: #60A4A7;
$warning_color: #f89406;
$danger_color: #e35c5c;
$text_color: #000000;
$link_color: #000000;
$link_color_hover: #1991e6;
$border_color: #c4c7c8;
$background_color:#ffffff;
$gray_color: #8e8e8e;
$gray_light_color: #ededed;

$button_small_color: #803080;
$button_small_color_hover: #60A4A7;
$button_small_text_color: #ffffff;
$button_small_text_color_hover: #ffffff;

$button_medium_color: #803080;
$button_medium_hover: #60A4A7;
$button_medium_text_color: #ffffff;
$button_medium_text_hover: #ffffff;

$button_large_color: #803080;
$button_large_hover: #60A4A7;
$button_large_text_color: #ffffff;
$button_large_text_hover: #ffffff;

$box_shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
$border_radius: 5px;



