$primary_color: #1F1E26;
$secondary_color: #1f1e26;

$success_color: #01B075;
$warning_color: #F7C705;
$danger_color: #FC595A;
$background_success: #ebffe7;
$background_error: #e35c5c3d;

$headline_text_color: #ffffff;
$text_color: #8C8C8E;
$link_color: #00AF74;

$link_color_hover: #1A3431;
$border_color: #c4c7c8;
$background_color:#17161E;
$gray_color: #8e8e8e;
$white_color: #ffffff;
$gray_light_color: #ededed;

$button_color: #01B075;
$button_color_hover: #1A3431;
$button_text_color: #ffffff;
$button_text_color_hover: #ffffff;


$box_shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
$border_radius: 0;

$font-family: 'Montserrat', sans-serif;

