.page-calendar {
    .monthlyCalendar {
        .calendar_head {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            margin-bottom: 10px;

            .choseMonth {
                display: flex;
                align-items: center;
                align-content: center;
                color: $headline_text_color;
                @include laptop {
                    font-size: 25px;
                }

                .month {
                    font-weight: 700;
                    margin-right: 7px;
                }
            }

            .pagination {
                display: flex;
                align-items: center;
                align-content: center;

                a {
                    cursor: pointer;
                    min-width: 25px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    &.currentMonth {
                        font-weight: 600;
                    }
                }
                .btn{
                    background-color: $secondary_color;
                    &:hover{
                        background-color: $background_color;
                    }
                }
                .icon{
                    margin: 0;
                }
            }
        }

        .calendar {
            height: 50vh;

            .week, .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);

                .day {
                    text-align: right;
                    padding: 2px 5px;
                    border: 1px solid $border_color;
                    border-bottom: none;
                    font-weight: 600;
                    @include transition;

                    &.today {
                        .date {
                            border-radius: 50%;
                            background-color:#F7C705;
                            color: $white_color;
                        }

                    }

                    .date {
                        width: 25px;
                        height: 25px;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &:last-child {
                    .day {
                        border-bottom: 1px solid $border_color;
                    }
                }

                .day + .day {
                    border-left: none;
                }
            }

            .week {
                height: 18%;
                @include desktop{
                    height: 25%;
                }

                .day {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    &:not(._anotherMonth){
                        &.weekend{
                            .date {
                                color: #FF5A59;
                            }
                            &:hover{
                                background-color: #ff5a5970;
                            }
                        }
                        &:not(.weekend){
                            .date{
                                color: $text_color;
                            }
                            &:hover{
                                background-color: #00af744d;
                                .date{
                                    color: $success_color;
                                }
                            }
                        }
                    }


                    &._anotherMonth{
                        background-color: $secondary_color;
                    }
                    .appointments{
                        width: 100%;
                        display: flex;
                        align-content: center;
                        align-items: flex-end;
                        justify-content: center;
                        background-color: $success_color;
                        color: $white_color;
                        margin-top: 5px;
                        padding: 2px;
                    }
                }
            }

            .days {
                margin-bottom: 5px;

                .day {
                    border: none;
                    color: $headline_text_color;
                }
            }
        }
    }
}
