.page-calendar {
    .monthlyCalendar{
        .calendar_head{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            margin-bottom: 10px;
            .choseMonth{
                display: flex;
                align-items: center;
                align-content: center;
            }
            .pagination{
                display: flex;
                align-items: center;
                align-content: center;
            }
        }
        .calendar{
            .week,.days{
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                .day{
                    text-align: center;
                    padding: 2px 0;
                    border: 1px solid $border_color;
                    font-weight: 600;
                    &.today{
                        background-color: $primary_color;
                    }
                }
                .day + .day{
                    border-left: none;
                }
            }
        }
    }
}
